.image-gallery.front {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em -0.5em;
    .image-gallery-item {
        flex-basis: 33%;
        padding: 0.5em;
        // margin: 0 0.25em;
        a {
            padding: 1.5em;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            color: white;
            min-height: 250px;
            position: relative;
            border: 0 solid transparent;
            transition: all 0.15s ease-out;
            .image-gallery-item-hover-overlay {
                position: absolute;
                width: 100%;
                top: 0;
                bottom: 0;
                background-color: rgba($blue, 0.75);
                z-index: 1;
                opacity: 0;
                transition: all 0.35s ease-out;
            }
            .portfolio-keywords {
                opacity: 0;
                transition: all 0.35s ease-out;
                z-index: 2;
                flex-basis: 100%;
            }
            .image-gallery-image-title {
                margin: 0;
                font-family: 'Abril Fatface', cursive;
                opacity: 0;
                transition: all 0.35s ease-out;
                flex-basis: 100%;
                z-index: 2;
            }
            &:hover {
                text-decoration: none;
                transform: scale(1.05);
                box-shadow: inset 0 0 70px rgba(black, 0.75), 0 1px 10px rgba(black, 0.35);
                border: 1em solid $red;
                padding: 0.5em;
                .portfolio-keywords {
                    opacity: 1;
                }
                .image-gallery-item-hover-overlay {
                    opacity: 1;
                }
                .image-gallery-image-title {
                    opacity: 1;
                    text-shadow: 0 0 50px rgba(black, 0.85);
                }
            }
        }
    }
}


@media (max-width: $small) {
    .image-gallery.front {
        flex-wrap: wrap;
        .image-gallery-item {
            flex-basis: 100%;
        }
    }
}
