
/* HSL */
$color1: hsla(195%, 70%, 22%, 1);
$color2: hsla(187%, 97%, 29%, 1);
$color3: hsla(114%, 88%, 94%, 1);
$color4: hsla(211%, 35%, 42%, 1);
$color5: hsla(355%, 87%, 66%, 1);

/* RGB */
$dark_turqoise: rgba(17, 75, 95, 1);
$turqoise: rgba(2, 128, 144, 1);
$mint: rgba(228, 253, 225, 1);
$blue: rgba(69, 105, 144, 1);
$red: rgba(244, 91, 105, 1);
$purple: #7B78A0;
$dark_purple: darken($purple, 30%);
