---
layout: html
---

<div class="container">
    {{ content }}
    <section class="image-gallery row">
        {% for item in site.portfolio %}
            <div class="col-md-6 col-xs-12">
                <div class="image-gallery-item">
                    <a href="{{ item.url }}">
                        <img src="{{ item.image_url }}" class="img-thumbnail">
                        <span class="image-title">{{ item.title }}</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
